@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    margin: 0;
    padding: 0;
} 

.circle {
    background-image: linear-gradient(180deg, #bf936d, #ab785b);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 73rem;
    position: absolute;
    top: 2.3rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.rectangle {
    width: 300px;
    height: 125px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 48.5rem;
    position: absolute;
    top: 6rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.rectangle-assignment {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 67.2rem;
    position: absolute;
    top: 17rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.rectangle-calendar {
    width: 100px;
    height: 35px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 37rem;
    position: absolute;
    top: 6.5rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

body {
    background-color: #e4d6b0;
    font-family: 'Alata', sans-serif;
} 

::placeholder {
    color: #fff;
}

button {
    color: #fff;
}

nav {
    display: flex;
    align-items: center;
    background-color: #8f2d27;
    padding: 1rem;
    
}

li {
    display: inline;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.circle a {
    text-decoration: none;
    color: #fff;
}

.circle a:hover {
    text-decoration: none;
}






