@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');




* {
    margin: 0;
    padding: 0;
}




.circle {
    background-image: linear-gradient(180deg, #bf936d, #ab785b);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    margin: 0 0 0 74rem;
    position: absolute;
    top: 2.1rem;
    text-align: center;
    color: #fff;
    font-size: 35px;
}




body {
    background-color: #e4d6b0;
    font-family: 'Alata', sans-serif;
}




.container {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 1.5rem;
    background-image: linear-gradient(180deg, #bf936d, #ab785b);
    text-align: center;
}




::placeholder {
    color: #fff;
}




button {
    color: #fff;
}




nav {
    display: flex;
    align-items: center;
    background-color: #8f2d27;
    padding: 1rem;
   
}




li {
    display: inline;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}




.circle a {
    text-decoration: none;
    color: #fff;
}




.circle a:hover {
    text-decoration: none;
}




a:hover {
    text-decoration: underline;
}




.assignment {
    font-size: 25px;
    padding: 0.4rem 5rem 0.4rem 5rem;
    border: none;
    border-radius: 20px;
    background-color: #96735c;
    color: #e4d6b0;
    font-family: 'Alata', sans-serif;
}




.date {
    text-align: right;
    margin: 8.75rem 9rem 0 0;
}




.title {
    text-align: right;
    margin-right: 11rem;
}




input[type="text"] {
    margin-top: 2.7rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
}




input[type="text"]::placeholder {
    color: #e4d6b0;
}




input[type="text"]:focus {
    outline-width: 0;
}




.time {
    border: none;
    border-radius: 20px;
    background-color: #96735c;
    color: #e4d6b0;
    font-size: 30px;
    margin-top: 3.1rem;
    margin-right: 2.4rem;
}




.times {
    text-align: right;
    margin-right: 6.5rem;
}

.subtitle {
    display: inline;
    color: #e4d6b0;
    margin-right: 7.25rem;
}

.subtitles {
    text-align: right;
    margin-top: 0.5rem;
    margin-right: 4.25rem;
}

.activity {
    text-align: right;
    margin-right: 15rem;
    margin-top: 2.5rem;
}

.activity-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: rgba(150, 115, 92, 0.8);
    border-radius: 5px;
    position: absolute;
    left: 27rem;
    top: 25.5rem;
}


.activity-item {
    background-color: #96735c;
    border-radius: 5px;
    padding: 0.1rem;
    margin: 0.2rem 0;
    color: #e4d6b0;
    font-size: 6px;
    line-height: 1;
}

button {
    font-size: 20px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    border-radius: 20px;
    background-color: #96735c;
    color: #e4d6b0;
    border: none;
    font-family: 'Alata', sans-serif;
}

button:focus {
    outline-width: 0;
}

button:hover {
    cursor: pointer;
}

#months {
    display: flex;
    font-size: 11px;
    border-radius: 20px;
    margin: 7rem 0 0 3.375rem;
}

#years {
    display: flex;
    font-size: 11px;
    border-radius: 20px;
    margin-left: 3.375rem;
    position: absolute;
}
